body {
  background-color: #f6f6ef;
}

.hacker-news {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 90px auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  font-family: Verdana, Geneva, sans-serif;
}

.header {
  grid-area: 1 / 1 / 2 / 2;
  padding: 0 15%;
}

.search {
  grid-area: 2 / 1 / 3 / 2;
  padding: 0 15%;
}

.stories {
  grid-area: 3 / 1 / 4 / 2;

  padding: 1% 15%;

  background-color: #f6f6ef;
  color: #ff6600;

  font-family: sans-serif;
}

.stories ol {
  padding: 0;
  margin: 0;
}

.stories ol li {
  list-style: none;
  margin-bottom: 20px;
}
