.header {
  display: flex;
  align-items: center;
  background-color: #f60;
  font-size: small;
}

.header-logo {
  width: 40px;
  height: 40px;
  border: solid white 2px;
  margin-right: 5px;
}
.header-logo img {
  width: 100%;
}
