.search {
  padding-top: 25px;
  padding-bottom: 25px;
}

.search-box {
  display: flex;
  justify-content: space-between;

  height: 30px;
  padding: 5px 10px;
  border: solid #cccccc 1px;
  border-radius: 3px;
}

.search-box input,
.search-box button {
  height: 100%;
  padding: 0;
  border: none;
}
.search-text {
  width: 93%;
  margin-right: 5px;

  color: #303030;

  font-size: small;
  font-weight: bold;
}
.search-button {
  border-radius: 0 4px 4px 0;
  background-color: white;
}
.search-button img {
  height: 100%;
}
